extends base  


block content 
  h4=errorMsg
  form(method='POST') 
    input(name='nowpwd' type="password" placeholder='현재 비밀번호' required)
    input(name='newpwd' type="password" placeholder='새로운 비밀번호' required)
    input(name='newpwd2' type="password" placeholder='새로운 비밀번호 확인' required)
    button 변경